$black-color: #000000;
$white-color: #ffffff;
$dark-brown-color: #494949;
$light-grey-color: #A1A1A1;
$dark-grey-color: #898989;

// Fonts
$comfortaa: "Comfortaa";
$cormorantSC: "Cormorant SC";
$cormorantUnicase: "Cormorant Unicase";
$montserrat: "Montserrat";

// Font sizes
$big-font: 26px;
$average-font: 20px;
$small-font: 12px;


// widths
$desktop-width: 1280px;
$tablet-album-width: 1024px;
$tablet-portrait-width: 840px;
$phone-album-width: 480px;
$phone-portrait-width: 320px;

// indents
$big-indent: 105px;
$average-indent: 40px;
$small-indent: 16px;

// mixins
@mixin square($size, $border-radius: 0px) {
    width: $size;
    height: $size;

    @if ($border-radius) {
        border-radius: $border-radius;
    }
}