@import "@styles/variables.scss";

.announcementsList {
    padding-top: $average-indent;
    padding-bottom: $average-indent;
    padding-left: $average-indent;
    padding-right: $average-indent;

    min-height: 700px;

    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

    &_announcement {
        padding: 30px;

        background-color: $black-color;

        opacity: 0.9;

        border: 1px solid $golden-color;

        width: 320px;
        min-height: 200px;

        height: fit-content;

        color: $white-color;

        &_h {
            margin-bottom: 10px;
            padding-top: 6px;
            padding-bottom: 6px;

            border-top: 1px solid $white-color;
            border-bottom: 1px solid $white-color;

            font-size: 22px;
            font-style: bold;
        }

        &_description {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: $phone-album-width) {
    .announcementsList {
        padding-left: $small-indent;
        padding-right: $small-indent;
    }
}

@media screen and (max-width: 400px) {
    .announcementsList {

        &_announcement {
            &_h {
                font-size: $average-font;
            }
    
            &_description {
                font-size: $small-font;
            }
        }
    }
}